<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157933576468-mujf506mr1moevp6j2tdorgvt67o5b8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157933576468-mujf506mr1moevp6j2tdorgvt67o5b8v</string>
	<key>API_KEY</key>
	<string>AIzaSyC2ed5-85wDghmdkAVc2jYgraTAQMioja0</string>
	<key>GCM_SENDER_ID</key>
	<string>157933576468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.auburn.onlinecsse.AuthApp</string>
	<key>PROJECT_ID</key>
	<string>authapp-f0222</string>
	<key>STORAGE_BUCKET</key>
	<string>authapp-f0222.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157933576468:ios:974fa568b352b6ca6be201</string>
</dict>
</plist>